.crl-ban-container {
    background-color: #ebae3d;
    color: antiquewhite;
    overflow: hidden;
    margin-bottom: 12px;
    position: fixed;

    .crl-ban-button {
        font-size: .8em;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        cursor: pointer;
    }
}

.container.crl-ban-container {
    max-width: 100%;
}