.crl-nav-container {
    position: fixed;
    padding-top: 18px;
    bottom: 0px;
    width: 100%;
    background-color: bisque;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .crl-nav-pagenav {
        margin-top: 12px;
        margin-bottom: 8px;
    }
   
    .crl-nav-button {
        border: 2px solid orange;
        border-radius: 6px;
        font-size: small;
        margin-top: 5px;
        height: 32px;
        line-height: 26px;
    }

    .crl-nav-pagenav .crl-nav-button {
        width: 80px;
        left: calc(50% - 40px);
        position: relative;    
    }

    .textsize-icon {
        height: 28px;
        svg {
            height: 100%;
        }
    }

    &.collapsed 
    {
        max-height: 23px;
        transition: max-height 500ms ease 0ms; 
    }

    &.expanded 
    {
        // max-height allows the container height to by 'dynamic' under this range
        // this is a trick that allows us to transition (as transtions for height:auto don't work)
        // this should be the max the container could ever be.
        max-height: 324px;
        transition: max-height 500ms ease 0ms; 
    }
}