.crl-con-container {
    .crl-con-banner {
        font-family: sans-serif;
        text-align: center;
        margin-bottom: 36px;

        h1 {
            font-size: 2.2em;
        }
        h2 {
            font-size: 1.8em;
        }
    }

    .clr-con-title {
        font-family: serif;
        font-size: 1.8em;
    }

    .clr-con-body {
        margin-bottom: 24px;
    }

    .clr-con-title, .clr-con-body {
        width: 100%;
        margin-right: 8px;
        margin-left: 8px;
    }

    .clr-con-footer-buffer {
        height: 600px;
    }

    // NLT API CSS overrides
    .NLT {
        h2 {
            font-size: 1.6rem;
        }
    }
}