.crl-con-container {
    .crl-con-banner {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;

        h1 {
            font-size: 2.2rem;
        }
        h2 {
            font-size: 1.8rem;
        }
    }
}